@model IEnumerable<BestDeal.Models.Artikal>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CijenaArtikla)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NazivArtikla)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KratkiOpis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DetaljniOpis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.URLSlike1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.URLMaleSlike1)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CijenaArtikla)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NazivArtikla)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KratkiOpis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DetaljniOpis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.URLSlike1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.URLMaleSlike1)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdArtikla">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdArtikla">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdArtikla">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
