@model IEnumerable<BestDeal.Models.Narudzba>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DatumVrijemeNarudzbe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DatumVrijemeNarudzbe)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdNarudzbe">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdNarudzbe">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdNarudzbe">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
