@using System.Globalization
@model Artikal
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="@Model.URLMaleSlike1" alt="" />
        <div class="caption">
            <h3 class="pull-right">@Model.CijenaArtikla.ToString("c", CultureInfo.CreateSpecificCulture("hr-BA"))</h3>
            <h3>
                <a>@Model.NazivArtikla</a>
            </h3>
            <p>@Model.KratkiOpis</p>
        </div>
        <div>
            <!-- Ovdje koristimo dobar fol Razor sintakse za spajanje HTML i C# stringova tako da svaki artikal ima zaseban event za prikazivanje detaljnijeg opisa. Bez ovoga bi se klikom na dugme otvarali detaljni opisi SVIH artikala -->
            <a class="btn btn-primary" data-toggle="collapse" href="#@("sakrijOpis"+ Model.IdArtikla)" role="button" aria-expanded="false"
               aria-controls="multiCollapseExample1">Prikaži detaljni opis</a>
        </div>
        <div class="col text-left">
            <div class="collapse multi-collapse" id="@("sakrijOpis"+ Model.IdArtikla)">
                <div class="card card-body">
                    <style>
                        .line-breaks {
                            white-space: pre-line;
                        }
                    </style>

                    <span class="line-breaks">@Model.DetaljniOpis</span>
                </div>
            </div>
        </div>
        <div class="addToCart text-left">
            <p class="button ">
                <a class="btn btn-success" id="recenzijaButton"
                   asp-controller="RecenzijaApp"
                   asp-action="List"
                   asp-route-artikal="@Model.IdArtikla">
                    Pogledaj recenzije artikla!
                </a>
            </p>
        </div>
        <div class="addToCart text-right">
            <p class="button ">
                <a class="btn btn-success" id="cartButton"
                   asp-controller="KorpaApp"
                   asp-action="DodajKorpa"
                   asp-route-artikalID="@Model.IdArtikla">
                    Dodaj u korpu!
                </a>
            </p>
        </div>
    </div>
    </div>